body {
  margin: 0;
  font-family: 'Merienda', 'cursive', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;600;700;900&display=swap');

/**========================================================================
 * *                      Color palette in Hex, HSL, & RGB
 *   HEX
      *--rich-black: #09151F;
      *--caribbean-current:#28666e;
      *--slate-gray: #678485;
      *--ash-gray: #acbcbc;
      *--platinum: #CED8D7
 *   HSL
      *--rich-black: hsl(207, 55%, 8%);
      *--caribbean-current:hsl(187, 47%, 29%);
      *--slate-gray: hsl(182, 13%, 46%);
      *--ash-gray: hsl(180, 11%, 71%);
      *--platinum: hsl(174, 11%, 83%);
 *   RGB
      *rich-black: rgb(9, 21, 31);
      *caribbean-current: rgb(40, 102, 110);
      *slate-gray: rgb(103, 132, 133);
      *ash-gray: rgb(172, 188, 188);
      *platinum: rgb(206, 216, 215);
 *
 *========================================================================**/
#inputID::placeholder {
     color: #09151F;
} 
input::placeholder {
     color: #28666e;
     opacity: 1;
     font-family: "Merienda", "cursive ";
     font-weight: 600;
     font-size: 1rem;
}
#inputText{
     height: 60px !important;
}
#pText{
     height: 80px !important;
}
/* btnGrey: {
     backgroundColor: "#28666e",
     color: "#09151F",
 },
 btnBlack: {
     backgroundColor: "#28666e",
     color: "#09151F",
 }, */